html,
body,
#root
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:root {
  --theme-background: white;
  --theme-text: black;
}

body {
  background-color: var(--theme-background);
  color: var(--theme-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Michroma", sans-serif;
}
